body {
    background-color: #6f8fb0;
    font-family: 'Poppins', sans-serif;
    overflow-x: hidden;
}

/* ================= NAVBAR ================= */
.custom-nav {
    background-color: #7b78ff;
}

/* ================= HERO ================= */
.hero-section {
    padding: 80px 0;
}

/* TEXT PREMIUM */
.hero-title {
    font-size: 42px;
    font-weight: 600;
    opacity: 0;
    transform: translateY(30px);
    animation: fadeUp 1.2s ease forwards;
}

/* BUTTON */
.hero-section .btn {
    opacity: 0;
    animation: fadeUp 1.4s ease forwards;
    animation-delay: .3s;
}

/* ================= IMAGES ================= */
.woman {
    max-height: 800px;
    opacity: 0;
    transform: scale(1.08);
    animation: zoomPremium 1.6s ease forwards;
    animation-delay: .4s;
}

.man {
    position: absolute;
    right: -90px;
    bottom: 70px;
    max-height: 600px;

    opacity: 0;
    transform: scale(1.1);
    animation: zoomPremium 1.8s ease forwards;
    animation-delay: .6s;
}

/* ================= HOVER ELEGANT ================= */
.woman:hover,
.man:hover {
    transform: scale(1.05) translateY(-8px);
    transition: transform 0.5s ease;
}

/* ================= KEYFRAMES ================= */
@keyframes fadeUp {
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

@keyframes zoomPremium {
    to {
        opacity: 1;
        transform: scale(1);
    }
}

/* ================= PRODUCT / CARD ================= */
.product-box {
    background: white;
    padding: 40px;
    opacity: 0;
    transform: translateY(40px);
    animation: fadeUp 1.2s ease forwards;
}

/* IMAGE PRODUCT */
.product-box img {
    max-width: 100%;
    transition: transform .6s ease;
}

.product-box img:hover {
    transform: scale(1.1);
}
